@media only screen and (max-width: 600px) {
    body {
        background-image: url('/starter-code/assets/home/background-home-mobile.jpg');
    }
}

@media only screen and (min-width: 600px) {
    body {
        background-image: url('/starter-code/assets/home/background-home-tablet.jpg');
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-image: url('/starter-code/assets/home/background-home-desktop.jpg'), width;
        
    }
}

nav{

}

.nav-text {
    color: white;
}



